NEWS_API_KEY=your_newsapi_key_here
HIGHLIGHTLY_API_KEY=your_highlightly_api_key_here
HIGHLIGHTLY_BASE_URL=https://rugby.highlightly.net
HIGHLIGHTLY_RAPIDAPI_HOST=rugby-highlights-api.p.rapidapi.com
SPORTDB_API_KEY=your_sportdb_api_key_here
SPORTDB_BASE_URL=https://api.sportdb.dev

